@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@200;400&display=swap');

*{box-sizing: border-box!important;font-family: 'Rokkitt', serif;}

html,body {
  -webkit-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  height: 100%; margin: 0px; padding: 0px; 
  width: 100%;
  overflow: hidden;
}

#root{
  height:100%;
}

.App{
  display: flex;
  height: 100%;
}

#routeContainer{
  display: flex;
  width: 100%;
  background-color: #222;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.flex-col{
  display: flex;
  flex-direction: column;
}

.ai-center{align-items: center;}


/* Components */
.flag-round-border{
  border: 14px solid white;
  padding: 5px 5px 0 5px;
}
.flag-round-border.country-active{
  border-color:red
}