@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@200;400&display=swap');

*{box-sizing: border-box!important;font-family: 'Rokkitt', serif;}

html,body {
  -webkit-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  height: 100%; margin: 0px; padding: 0px; 
  width: 100%;
  overflow: hidden;
}

#root{
  height:100%;
}

.App{
  display: flex;
  height: 100%;
}

#routeContainer{
  display: flex;
  width: 100%;
  background-color: #222;
  /* justify-content: center; */
  align-items: flex-start;
  overflow-y: auto;
}

.flex{display: flex;}
.flex-col{
  display: flex;
  flex-direction: column;
}

.ai-center{align-items: center;}


/* Components */
.flag-round-border{
  border: 14px solid white;
  padding: 5px 5px 0 5px;
}
.flag-round-border.country-active{
  border-color:#ef5350
}

#cartContents{
  font-size: 32px;
  padding: 20px 10px;
  padding-top: 100px;
  flex: 1;
}

#cartItems{
  border-bottom: 4px dashed #222;
  max-height: 500px;
  overflow-y: auto;
}

.cart-item{
  margin: 10px 0;
}

#cartTotal{
  font-weight: 700;
  margin-top: 20px;
  font-size: 36px;
}

#cartCheckout{
  height:350px
}

.btn-lg{
  background-color: #43a047;
  font-size: 4rem;
  color: white;
  padding: 10px 30px;
}


@media only screen and (orientation:landscape) and (max-width:1280px) {
  body {
    height: 100vw;
    transform: rotate(90deg);
  }
  #routeContainer{
    justify-content: initial;
  }
}